<?xml version="1.0" encoding="UTF-8"?>
<!-- https://phpunit.readthedocs.io/en/latest/configuration.html -->
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/10.1/phpunit.xsd"
         colors="true"
         bootstrap="tests/bootstrap.php"
         cacheDirectory="var/cache/test/phpunit">
    <php>
        <ini name="error_reporting" value="-1"/>
        <ini name="memory_limit" value="-1"/>
        <server name="APP_ENV" value="test" force="true"/>
        <server name="APP_DEBUG" value="0" force="true"/>
        <server name="SHELL_VERBOSITY" value="-1"/>
        <server name="SYMFONY_PHPUNIT_REMOVE" value=""/>
        <server name="SYMFONY_PHPUNIT_VERSION" value="10"/>
        <server name="KERNEL_CLASS" value="App\Kernel"/>
        <!-- https://github.com/phpDocumentor/TypeResolver/issues/148#issuecomment-1005542099 -->
        <server name="SYMFONY_PHPUNIT_REQUIRE" value="phpdocumentor/type-resolver:1.6"/>
    </php>
    <testsuites>
        <testsuite name="unit">
            <directory>tests/PHPUnit/Unit</directory>
        </testsuite>
        <testsuite name="functional">
            <directory>tests/PHPUnit/Functional</directory>
        </testsuite>
        <testsuite name="integration">
            <directory>tests/PHPUnit/Integration</directory>
        </testsuite>
    </testsuites>
    <source>
        <include>
            <directory>./src</directory>
        </include>
        <exclude>
            <directory suffix="Exception.php">src</directory>
            <directory>src/Infrastructure/Migrations</directory>
            <directory>src/Infrastructure/DataFixtures</directory>
            <directory>src/Infrastructure/Exception</directory>
            <directory>src/Component/DB/Exception</directory>
            <directory>src/Domain/Exception</directory>
            <file>src/Kernel.php</file>
            <file>src/UI/Response/AbstractPaginationResponse.php</file>
            <file>src/UI/Command/LoadFixturesCommand.php</file>
            <file>src/UI/Response/Model/PaginationModel.php</file>
            <file>src/Application/Query/AbstractPaginationQueryMessage.php</file>
            <file>src/Infrastructure/EventListener/Doctrine/FixPostgresSQLDefaultSchemaListener.php</file>
            <file>src/Infrastructure/EventListener/Trait/SentryAdditionalDataTrait.php</file>
        </exclude>
    </source>

    <coverage cacheDirectory="/tmp/phpunit-cache"
              includeUncoveredFiles="true"
              pathCoverage="false"
              ignoreDeprecatedCodeUnits="true"
              disableCodeCoverageIgnore="true">
        <report>
            <php outputFile="reports/merge/phpunit.cov"/>
        </report>
    </coverage>
</phpunit>
